/* male logo firmy*/  
.favicon{
  width: 100px;
}

/* index.html*/ /* navbar*/    
.logo{
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: white;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: black;
  text-align: center;
  padding:  20px 20px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.nav a:hover{
  background-color: #023068;
  color: white;  
}
/* koniec navbar*/  

/* banner*/  
.top-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/enginer1.jpg");
  background-repeat: no-repeat;  
  background-size: cover;
  background-position: center;
  height: 850px;
  
}

.banner-text {
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: Arial, Helvetica, sans-serif
}

.banner-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.banner-text button:hover {
  background-color: #555;
  color: white;
}
/* koniec bannera*/ /* koniec index.html*/ 

/* contactus.html*/
.contact-section {
  padding: 50px;
  text-align: center;
  background-color: #023068;
  color: white;
  font-family: Arial, Helvetica, sans-serif
  
}

/* ako vyzera text a text area */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

/* ako vyzera to tlacidlo Submit */
button[onclick="myFunction()"] {
  background-color: #04AA6D;
  color: white;
  padding: 14px 40px;
  border: none; 
  float: right;

}

/* ked pojdem na tlacidlo Submit zmeni mi farbu */
button[onclick="myFunction()"]:hover {
  background-color: #45a049;
}

.float-container {
  border: 3px solid white;
  padding: 20px;
  
}

.float-child {
  width: 50%;
  float: left;
  padding: 20px;
   
}  

/* responzivita mapy a formulara ked je sirka mensia ako 600px  */
@media screen and (max-width: 600px) {
  .float-child, button[onclick="myFunction()"], .float-container {
    width: 100%;
    
  }
}



/* about.html*/ 
.about-section {
  padding: 50px;
  text-align: center;
  background-color: #023068;
  color: white;
  font-family: Arial, Helvetica, sans-serif
}


