/* male logo firmy*/  
.favicon{
  width: 100px;
}

/* index.html*/ /* navbar*/    
.logo{
  background-color:#5d89ba;
}
.nav{
  background-color: #5d89ba;
}
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#5d89ba ;
 
}

.nav li {
  float: left;
  
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding:  20px 20px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  
}

.nav a:hover{
  color: black;  
}



/* koniec navbar*/  

/* Carousel*/ 
.carousel-item {
  height: 50rem; 
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

.container {
 position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 50px;
}
      
.overlay-image{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top:0;
  background-position: center;
  background-size: cover; 
}
/* koniec carousel*/  
/* koniec index.html*/ 




.hr1{
  width: 80%;  
  height: 2px;  
  background-color: black;  
  margin-bottom: 7px;  
  margin-right: auto;  
  margin-left: auto;  
  margin-top: 9px;  
  border-width: 4px;  

}




/* ako vyzera text a text area */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

/* ako vyzera to tlacidlo Submit */
button[onclick="myFunction()"] {
  background-color: #04AA6D;
  color: white;
  padding: 14px 40px;
  border: none; 
  float: right;

}

/* ked pojdem na tlacidlo Submit zmeni mi farbu */
button[onclick="myFunction()"]:hover {
  background-color: #45a049;
}

.float-container {
  border: 3px solid white;
  padding: 20px;
  
}

.float-child {
  width: 50%;
  float: left;
  padding: 20px;
   
}  

/* responzivita mapy a formulara ked je sirka mensia ako 600px  */
@media screen and (max-width: 600px) {
  .float-child,input[type=submit] , .float-container {
    width: 100%;
    
  }
}






/* zaciatom portfolia*/ 

.grid-container {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: auto auto auto;
 padding: 50px;
  
}


.grid-item {
  padding: 20 px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 15px;
  text-align: center;
  
}

.content {
  background-color: white;
  padding: 10px;
  }



/* koniec portfolia*/ 


/* o nas*/ 

.text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  padding: 30px;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 2);
}


.text1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 70%);
  width: 600px;
  padding: 30px;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 2);
}


.text2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 190%);
  width: 600px;
  padding: 30px;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 2);
}





.p{
  margin: 0;
  padding: 0;
  text-align: justify;
  line-height: 22px;
}

.h1{
  margin: 0 0 20px;
  padding: 0;
  font-size: 30px;
}

.title {
  color: grey;
}
