/* male logo firmy*/  
.favicon{
  width: 100px;
}

/* index.html*/ /* navbar*/    
.logo{
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: white;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: black;
  text-align: center;
  padding:  20px 20px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.nav a:hover{
  background-color: #023068;
  color: white;  
}
/* koniec navbar*/  


/* Carousel*/ 
.carousel-item {
  height: 50rem;
 
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

.container {
 position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 50px;
}
      
.overlay-image{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top:0;
  background-position: center;
  background-size: cover; 
}
/* koniec carousel*/  
/* koniec index.html*/ 







/* contactus.html*/
.contact-section {
  padding: 50px;
  text-align: center;
  background-color: #023068;
  color: white;
  font-family: Arial, Helvetica, sans-serif
  
}

/* ako vyzera text a text area */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

/* ako vyzera to tlacidlo Submit */
button[onclick="myFunction()"] {
  background-color: #04AA6D;
  color: white;
  padding: 14px 40px;
  border: none; 
  float: right;

}

/* ked pojdem na tlacidlo Submit zmeni mi farbu */
button[onclick="myFunction()"]:hover {
  background-color: #45a049;
}

.float-container {
  border: 3px solid white;
  padding: 20px;
  
}

.float-child {
  width: 50%;
  float: left;
  padding: 20px;
   
}  

/* responzivita mapy a formulara ked je sirka mensia ako 600px  */
@media screen and (max-width: 600px) {
  .float-child,input[type=submit] , .float-container {
    width: 100%;
    
  }
}



/* about.html*/ 
.about-section {
  padding: 50px;
  text-align: center;
  background-color: #023068;
  color: white;
  font-family: Arial, Helvetica, sans-serif
}


/* zaciatom portfolia*/ 

.grid-container {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: auto auto auto;
 padding: 50px;
  
}


.grid-item {
  padding: 20 px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 15px;
  text-align: center;
  
}

.content {
  background-color: white;
  padding: 10px;
  }


